div{
    text-align: center;
}
p{
    
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    align-items: center;
}
section{
    background: #f8f8f8;
  border-left: 6px solid forestgreen;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}